@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fcfcfc;
  color: rgb(44, 18, 18);
  flex-direction: column;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: rgb(22, 15, 15) !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}
.home {
  display: inline-flex;
  text-align: center;
}
.create-form{
  padding: 20px;
}
.part {
  padding: 20px;
}